@charset "utf-8";

// @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

// $primary: #333333;
// etc.
$progress-border-radius: initial;
@import "bulma/bulma.sass";
@import "font-awesome/css/font-awesome.min.css";

.logo-text {
  font-family: "Black Ops One";
  font-size: 1.5rem;
  color: $dark;
}
#app {
  height: 100%;
  // display: flex;
  // flex-direction: column;
}

.fullheight {
  height: 90%;
}
.fixed-width-400 {
  min-width: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  // background: #f0f2f4;
}
html, body {
  height: 100%;
}